accelerate
aioboto3
aiohttp

# database packages
graspologic
hnswlib
nano-vectordb
neo4j
networkx
ollama
openai
oracledb
pymilvus
pymongo
pymysql
pyvis
# lmdeploy[all]
sqlalchemy
tenacity


# LLM packages
tiktoken
torch
transformers
xxhash
rank_bm25
datasets

# additional packages for HW1
pandas
rank_bm25
scikit-learn
datasets
tensorboard
wandb
tqdm
